@charset "utf-8";
/* CSS Document */

.container {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 49vh;
  padding: 10px 5px 0px 5px;
  background-color: #FFFFFF;
}


#chart4title {
	height: 10vh;
	width: 100%;
	float: left;
	padding: 5px;
}

.foura {
	height: 50vh;
	width: 100%;
	float: left;
}

.fourb {
	height: 40vh;
	width: 60%;
	float: left;
}

.fourc {
	height: 40vh;
	width: 40%;
	float: left;
}

#text{
  float: left;
  width: 100%;
  height: 49%;
  padding: 5px 5px 5px 5px;
}

p {
 font-family: Garamond, Georgia;
 line-height: 1.6em;
 font-size: 1.6em;
 color: #333;
}

ul {
 font-family: arial;
 font-size: 1.4em;
 line-height: 1.4em;
 color: #333;
}

#chart1 {
 z-index: 100;
}

#keypoints {
 background-color: #F4F4F1;
 border-style: solid;
 border-width: 3px;
 border-color: #eae8e3;
 padding: 15px;
 
}

#cover {
	z-index: 1000;
	width: 100%;
	height: 120vh;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
}

#cover-text {
	padding: 5%;
}

#logo {
	background-color: #2b505e;
	height: 50px;
	padding: 50px;
}

blockquote {
    border-top: 1px solid #b6b1aa;
    border-bottom: 1px solid #b6b1aa;
    margin: 0 0 28px 0;
    padding: 14px 14px 21px 60px;
    font-family: FuturaPTDemi-Reg,helvetica,arial,sans-serif;
    color: #2b505e;
    font-size: 1.20em;
    line-height: 1.3em;
    background: url(http://www.nuffieldtrust.org.uk//sites/default/themes/custom/nuffield/images/icon_quote.png) no-repeat 15px 18px #fff;
}

button {
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-size:40%;
  line-height: 1;
}

button.on {
  font-family: Arial;
  color: #ffffff;
  background: #2b505e;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

button.off {
  font-family: Arial;
  color: #ffffff;
  background: #6A848E;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

button:hover {
  background: #BFCACE;
  text-decoration: none;
}

h1 {
	color: #6A848E;
	font-family: Futura, 'FuturaTS-Regular',Arial;
	font-size: 36px;
}

#subtitle {
	color: #2b505e;
}

h2 {
 color: #2b505e;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 20px;
    text-shadow: 0.5px 0.5px 1px rgba(255,255,255,0.6);
 font-family: 'FuturaTS-Regular', Futura, Arial;
}

h3 {
 font-family: 'FuturaTS-Regular', Futura, Arial;
 color: #2b505e;
 font-size: 18px;
}

@media screen and (min-width: 751px) {
    button {
    font-size:55%;
    line-height: 1;
    }
	
	h1 {
    font-size:64px;
    line-height: 1;
    }
	
	h3 {
	 font-size: 24px;
}

.container {
  float: right;
  position: fixed;
  right: 0;
  width: 49%;
  height: 100vh;
  padding-right: 15px
}

#text{
  float: left;
  width: 48%;
  padding: 15px 15px 0px 15px;
}
}

@media screen and (min-width: 1000px) {
    button {
    font-size:95%;
    line-height: 1.2;
    }
	
	h1 {
    font-size:100px;
    line-height: 1.2;
    }
	
	h3 {
	 font-size: 36px;
}

.container {
  float: right;
  position: fixed;
  right: 0;
  width: 49%;
  height: 100vh;
  padding-right: 15px
}

#text{
  float: left;
  width: 48%;
  padding: 15px 15px 0px 15px;
}

} 


#back-top {
            position: fixed;
            bottom: 5px;
            left: 47%;
            z-index: 1000;
}
 
#back-top a {
            width: 50px;
            display: block;
            text-align: center;
            font: 11px/100% Arial sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            color: #6A848E;
 
            /* transition */
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
}
#back-top a:hover {
            color: #2b505e;
}
 
/* arrow icon (span tag) */
#back-top span {
            width: 50px;
            height: 50px;
            display: block;
            margin-bottom: 7px;
            background: rgba(43,80,94,0.7) url(http://static1.squarespace.com/static/5594219be4b01a83c4506d86/t/55bba872e4b0a3278f9a5941/1438361714274/up-arrow-small.png) no-repeat center center;
 
 
            /* transition */
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
}
#back-top a:hover span {
            background-color: rgba(43,80,94,0.9);
}

#scroll {
            position: fixed;
            bottom: 5px;
            left: 47%;
            z-index: 1050;
}
 
#scroll a {
            width: 50px;
            display: block;
            text-align: center;
            font: 11px/100% Arial sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            color: #6A848E;
 
            /* transition */
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
}
#scroll a:hover {
            color: #2b505e;
}
 
/* arrow icon (span tag) */
#scroll span {
            width: 50px;
            height: 50px;
            display: block;
            margin-bottom: 7px;
            background: rgba(43,80,94,0.7) url(http://static1.squarespace.com/static/5594219be4b01a83c4506d86/t/55bba872e4b0a3278f9a5941/1438361714274/up-arrow-small.png) no-repeat center center;
			-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
 
 
            /* transition */
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
}
#scroll a:hover span {
            background-color: rgba(43,80,94,0.9);
}

#more-button{border-style:none;background-color:#af021a;font:16px Arial,Sans-Serif;color:#ffffff;margin: 0 0 10px 0;box-shadow: 0px 0px 0px #888888;}
 
#grow input:checked{color:#C75363;}
 
#more-button:hover{color:#C75363;}
 
#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

#grow2 {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }
  
#more-button2{border-style:none;background-color:#af021a;font:16px Arial,Sans-Serif;color:#ffffff;margin: 0 0 10px 0;box-shadow: 0px 0px 0px #888888;}
 
#grow2 input:checked{color:#C75363;}
 
#more-button2:hover{color:#C75363;}

a, a:link, a:active, a:visited {
    color: #006073;
    text-decoration: none;
}

a:hover {
	color:#af021a;
}

#spacer {
	height: 450px;
}
