@charset "utf-8";
/* CSS Document */

#container {
  margin: 0 5% 0 5%;
  padding: 10px 80px 10px 80px;
  background-color: #BFCACE;
  border-radius:10px;
  border:1px solid #6A848E;
}

#container2 {

  display: flex;
  flex-flow: row wrap;
}

.noUi-tooltip {
  padding-left: 10px;
  color: #ffffff;
  font-size: 1.5em;
}

noUi-connect {
    background: #AF021A;
    box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

#header {
  padding: 50px; 
	background-color: #2b505e;
}

#description {
  display: flex;
  min-height: 150px;
}

#descriptor {
  font-size: 1em;
  padding: 10px 20% 0 20%;
  text-align: center;
  flex: 1;
}


p {
 font-family: Garamond, Georgia;
 line-height: 1.6em;
 font-size: 1.4em;
 color: #333;
}

ul {
 font-family: Garamond, Georgia;
 line-height: 1.6em;
 font-size: 1.4em;
 color: #333;
}

#keypoints {
 background-color: #F4F4F1;
 border-style: solid;
 border-width: 3px;
 border-color: #eae8e3;
 padding: 15px;
 
}

#logo {
	height: 50px;
}

#preface {
  padding: 0 20% 0 20%;
}

#howmuch {
  text-align: center;
}

#subtitle {
	color: #2b505e;
}

h1 {
	color: #ffffff;
	font-family: Futura, 'FuturaTS-Regular', Arial;
	font-size: 2.0em;
}

h2 {
 color: #2b505e;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: 0;
 font-family: 'FuturaTS-Regular', Futura, Arial;
}

h3 {
 font-family: 'FuturaTS-Regular', Futura, Arial;
 color: #af021a;
 font-size: 18px;
}

a, a:link, a:active, a:visited {
    color: #006073;
    text-decoration: none;
}

a:hover {
	color:#af021a;
}

#care-home-tile {
  display: none;
}

div.item {
  height: 300px;
  float: left;
  font-size: 1em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 275px;
  border-radius:10px;
  border:1px solid #6A848E;
}

img.tile {
  max-width: 50%;
}

  button {
  font-family: Futura, 'FuturaTS-Regular', Arial;
  color: #ffffff;
  font-size:  1em;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius:10px;
  border:1px solid #6A848E;
}
button.teal-on {
  background: #2b505e;
}

button.red-on {
  background: #af021a;
}

button.purple-on {
  background: #3c1f75;
}

button.teal-off {
  background: #BFCACE;
}

button.red-off {
  background: #E7B5BC;
}

button.purple-off {
  background: #c4bbd5;
}

#legend {
  margin: auto;
  padding: 5px 10px 5px 10px;
  }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
div.item {
  width: 100%;
  font-size: 150%;
  height: 150%;
}

img.tile {
  max-width: 30%;
}

}

@media only screen and (min-width: 685px) {
#logo {
  float: right;
  padding: 15px;
}


}
